# SQL Practice
This notebook contains exercises for SQL fundamentals. 

The `Chinook_Sqlite.sqlite` and `Northwind.sqlite` databases are stored in the `data` folder of this repository.

### Entity Relationship Diagrams

#### Northwind ERD

![](Northwind_ERD.png)

#### Chinook ERD

![](Chinook_ERD.jpg)

#### Note
>The table names in the ERD do not perfectly match the table names in the database. You can use the sql query `SELECT name FROM sqlite_master WHERE type='table';` to see the names of the tables.

Below we open up a connection to each database.

In [28]:
northwind.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('Employee',),
 ('Category',),
 ('Customer',),
 ('Shipper',),
 ('Supplier',),
 ('Order',),
 ('Product',),
 ('OrderDetail',),
 ('CustomerCustomerDemo',),
 ('CustomerDemographic',),
 ('Region',),
 ('Territory',),
 ('EmployeeTerritory',)]

In [2]:
import sqlite3
import os

chinook_path = os.path.join(os.pardir, os.pardir, 'data', 'Chinook_Sqlite.sqlite')
chinook_connection = sqlite3.connect(chinook_path)

northwind_path = os.path.join(os.pardir, os.pardir, 'data', 'Northwind.sqlite')
northwind_connection = sqlite3.connect(northwind_path)

Now we create a cursor for each database.

In [3]:
chinook = chinook_connection.cursor()
northwind = northwind_connection.cursor()

## Let's first review some fundamental commands.

### `SELECT`

In the cell below, use the `SELECT` command to select all records from the northwind `product` table.

In [4]:
# Your code here
query = '''SELECT * FROM product'''
northwind.execute(query).fetchmany(3)

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18, 39, 0, 10, 0),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 17, 40, 25, 0),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 13, 70, 25, 0)]

#### Selecting one column

Next let's only collect the product names from the `product` table.

In [5]:
# Your code here
query = '''SELECT ProductName FROM product;'''
northwind.execute(query).fetchmany(3)

[('Chai',), ('Chang',), ('Aniseed Syrup',)]

#### Selecting more than one column

In the cell below we will collect the product names, unit price, and units in stock columns from the `product` table.

In [8]:
import pandas as pd

In [10]:
# Your code here
query = '''SELECT productname,
                  unitprice,
                  unitsinstock
           FROM product;'''
pd.read_sql(query, northwind_connection).head(5)

                    ProductName  UnitPrice  UnitsInStock
0                          Chai      18.00            39
1                         Chang      19.00            17
2                 Aniseed Syrup      10.00            13
3  Chef Anton's Cajun Seasoning      22.00            53
4        Chef Anton's Gumbo Mix      21.35             0

### `WHERE`

In the cell below, use the `WHERE` command to select all records from the `product` table that have a unit price that is greater than $100.

In [14]:
# Your code here
query = '''SELECT * FROM product
             WHERE unitprice > 100;'''

pd.read_sql(query, northwind_connection)

,Id,ProductName,SupplierId,CategoryId,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79,0,0,0,1
1,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.50,17,0,15,0

### `AND`
In the cell below collect the name of of products with a unit price > 100 with less than 10 units in stock.

In [15]:
# Your code here
query = '''SELECT productname FROM product
            WHERE unitprice > 100
            AND unitsinstock < 10;'''

northwind.execute(query).fetchall()

[('Thüringer Rostbratwurst',)]

### `JOIN`

In the cell below we use the `JOIN` command to return the unit price and the name of the supplier.

In [18]:
pd.read_sql('select * from supplier', northwind_connection).columns

Index(['Id', 'CompanyName', 'ContactName', 'ContactTitle', 'Address', 'City',
       'Region', 'PostalCode', 'Country', 'Phone', 'Fax', 'HomePage'],
      dtype='object')

In [27]:
# Your code here
query = '''SELECT product.unitprice, supplier.companyname
            FROM product
            JOIN
            supplier
            ON supplierid;'''
northwind.execute(query).fetchmany(5)

[(18, 'Exotic Liquids'),
 (18, 'New Orleans Cajun Delights'),
 (18, "Grandma Kelly's Homestead"),
 (18, 'Tokyo Traders'),
 (18, "Cooperativa de Quesos 'Las Cabras'")]

### `DISTINCT`

In the cell below, use the `DISTINCT` command to collect all unique discount values from the orderdetail table.

In [ ]:
# Your code here
query = '''SELECT '''

### Column broadcasting

In the cell below we calculate the total amount spent by multiplying the unit price times the quantity and subtracking the discount.

In [ ]:
# Your code here

### `GROUPBY`
In the cell below, use the `GROUPBY` command to collect the total amount spent on an order.

In [ ]:
# Your code here

In [ ]:
# We have the same number of orders as the full table!
query = '''SELECT DISTINCT orderid from orderdetail;'''

len(northwind.execute(query).fetchall())

### `ORDER BY` and `ASC/DESC`
In the cell below, we collect all product names and unit prices and sort by unitprice in descending order.

In [ ]:
# Your code here

### Selecting all from both tables

In the cell below we use the `JOIN` command to return all product and supplier information from the `product` and `supplier` tables.

In [ ]:
# Your code here

# Pair Programming

Five SQL tasks have been provided for each of the two databases. 

For each database, one students should share their screen and write the code. The other student should navigate. Once students have completed the questions for the first database, students should switch roles for the second database.

## Northwind Practice

### Task 1

Select all observations from the `orderdetail` table.

In [ ]:
# Your code here

### Task 2
Select the product name and quantity per unit columns from the `product` table.

In [ ]:
# Your code here

### Task 3
Select all columns from the `order detail` table and the product name and quanitity per unit columns from the `product`

In [ ]:
# Your code here

### Task 4
Select all columns from the `order detail` and `order` table, and the product name and quanitity per unit columns from the `product` table

In [ ]:
# Your code here

### Task 5

Select the unique company names and phone number from the `shipper` table for orders with a freight cost that is larger than $100

In [ ]:
# Your code here

## Chinook Practice

### Task 1
Collect all oberservations from the genres table.

In [ ]:
# Your code here

### Task 2
Collect the first name, last name, and email for all customers.

In [ ]:
# Your code here

### Task 3
Collect all track names with a blues genre.

In [ ]:
# Your code here

### Task 4
Collect the genre names, track names, and album names.

In [ ]:
# Your code here

### Task 5
Collect the unique first name, last name, and email for all customers who purchase blues music.

In [ ]:
# Your code here