# SQL Practice
This notebook contains exercises for SQL fundamentals. 

The `Chinook_Sqlite.sqlite` and `Northwind.sqlite` databases are stored in the `data` folder of this repository.

### Entity Relationship Diagrams

#### Northwind ERD

![](Northwind_ERD.png)

#### Chinook ERD

![](Chinook_ERD.jpg)

#### Note
>The table names in the ERD do not perfectly match the table names in the database. You can use the sql query `SELECT name FROM sqlite_master WHERE type='table';` to see the names of the tables.

Below we open up a connection to each database.

In [1]:
import sqlite3
import os

chinook_path = os.path.join(os.pardir, os.pardir, 'data', 'Chinook_Sqlite.sqlite')
chinook_connection = sqlite3.connect(chinook_path)

northwind_path = os.path.join(os.pardir, os.pardir, 'data', 'Northwind.sqlite')
northwind_connection = sqlite3.connect(northwind_path)

Now we create a cursor for each database.

In [2]:
chinook = chinook_connection.cursor()
northwind = northwind_connection.cursor()

## Let's first review some fundamental commands.

### `SELECT`

In the cell below, use the `SELECT` command to select all records from the northwind `product` table.

In [3]:
query = '''SELECT * FROM product;'''

northwind.execute(query).fetchmany(3)

[(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18, 39, 0, 10, 0),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 17, 40, 25, 0),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 13, 70, 25, 0)]

#### Selecting one column

Next let's only collect the product names from the `product` table.

In [4]:
query = '''SELECT productname FROM product;'''

northwind.execute(query).fetchmany(3)

[('Chai',), ('Chang',), ('Aniseed Syrup',)]

#### Selecting more than one column

In the cell below we will collect the product names, unit price, and units in stock columns from the `product` table.

In [5]:
query = '''SELECT productname,
                  unitprice,
                  unitsinstock
           FROM product;'''

northwind.execute(query).fetchmany(3)

[('Chai', 18, 39), ('Chang', 19, 17), ('Aniseed Syrup', 10, 13)]

### `WHERE`

In the cell below, use the `WHERE` command to select all records from the `product` table that have a unit price that is greater than $100.

In [6]:
query = '''SELECT * FROM product
           WHERE unitprice > 100;'''

northwind.execute(query).fetchmany(3)

[(29,
  'Thüringer Rostbratwurst',
  12,
  6,
  '50 bags x 30 sausgs.',
  123.79,
  0,
  0,
  0,
  1),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263.5, 17, 0, 15, 0)]

### `AND`
In the cell below collect the name of of products with a unit price > 100 with less than 10 units in stock.

In [7]:
query = '''SELECT productname FROM product
           WHERE product.unitprice > 100
           AND product.unitsinstock < 10;'''

northwind.execute(query).fetchall()

[('Thüringer Rostbratwurst',)]

### `JOIN`

In the cell below we use the `JOIN` command to return the unit price and the name of the supplier.

In [8]:
query = '''SELECT product.unitprice, supplier.companyname
           FROM product 
           INNER JOIN
           supplier 
           ON product.supplierid = supplier.id;'''

northwind.execute(query).fetchmany(3)

[(18, 'Exotic Liquids'), (19, 'Exotic Liquids'), (10, 'Exotic Liquids')]

### `DISTINCT`

In the cell below, use the `DISTINCT` command to collect all unique discount values from the orderdetail table.

In [9]:
query = '''SELECT DISTINCT discount FROM orderdetail'''

northwind.execute(query).fetchall()

[(0.0,),
 (0.15,),
 (0.05,),
 (0.2,),
 (0.25,),
 (0.1,),
 (0.02,),
 (0.03,),
 (0.04,),
 (0.06,),
 (0.01,)]

### Column broadcasting

In the cell below we calculate the total amount spent by multiplying the unit price times the quantity and subtracking the discount.

In [10]:
query = '''SELECT unitprice * quantity - (unitprice * quantity * discount) from orderdetail;'''

northwind.execute(query).fetchmany(3)

[(168.0,), (98.0,), (174.0,)]

### `GROUPBY`
In the cell below, use the `GROUPBY` command to collect the total amount spent on an order.

In [11]:
query = '''SELECT SUM(unitprice * quantity - (unitprice * quantity * discount)) ordertotal 
           FROM orderdetail
           GROUP BY orderdetail.orderid;'''

len(northwind.execute(query).fetchall())

830

In [12]:
# We have the same number of orders as the full table!
query = '''SELECT DISTINCT orderid from orderdetail;'''

len(northwind.execute(query).fetchall())

830

### `ORDER BY` and `ASC/DESC`
In the cell below, we collect all product names and unit prices and sort by unitprice in descending order.

In [13]:
query = '''SELECT productname, unitprice FROM product
           ORDER BY product.unitprice DESC;'''

northwind.execute(query).fetchmany(5)

[('Côte de Blaye', 263.5),
 ('Thüringer Rostbratwurst', 123.79),
 ('Mishi Kobe Niku', 97),
 ("Sir Rodney's Marmalade", 81),
 ('Carnarvon Tigers', 62.5)]

### Selecting all from both tables

In the cell below we use the `JOIN` command to return all product and supplier information from the `product` and `supplier` tables.

In [14]:
query = '''SELECT product.*, supplier.*
           FROM product
           INNER JOIN
           supplier
           ON product.supplierid = supplier.id;'''

northwind.execute(query).fetchmany(1)

[(1,
  'Chai',
  1,
  1,
  '10 boxes x 20 bags',
  18,
  39,
  0,
  10,
  0,
  1,
  'Exotic Liquids',
  'Charlotte Cooper',
  'Purchasing Manager',
  '49 Gilbert St.',
  'London',
  'British Isles',
  'EC1 4SD',
  'UK',
  '(171) 555-2222',
  None,
  None)]

# Pair Programming

Five SQL tasks have been provided for each of the two databases. 

For each database, one students should share their screen and write the code. The other student should navigate. Once students have completed the questions for the first database, students should switch roles for the second database.

## Northwind Practice

### Task 1

Select all observations from the `orderdetail` table.

In [15]:
query = '''SELECT * from orderdetail;'''
northwind.execute(query)
northwind.fetchmany(3)

[('10248/11', 10248, 11, 14, 12, 0.0),
 ('10248/42', 10248, 42, 9.8, 10, 0.0),
 ('10248/72', 10248, 72, 34.8, 5, 0.0)]

### Task 2
Select the product name and quantity per unit columns from the `product` table.

In [16]:
query = '''SELECT productname, quantityperunit FROM product;'''
northwind.execute(query)
northwind.fetchmany(3)

[('Chai', '10 boxes x 20 bags'),
 ('Chang', '24 - 12 oz bottles'),
 ('Aniseed Syrup', '12 - 550 ml bottles')]

### Task 3
Select all columns from the `order detail` table and the product name and quanitity per unit columns from the `product`

In [17]:
query = '''SELECT od.*, p.productname, p.quantityperunit
            FROM orderdetail od
            INNER JOIN product p
            ON p.id = od.productid;'''
northwind.execute(query)
northwind.fetchone()

('10248/11', 10248, 11, 14, 12, 0.0, 'Queso Cabrales', '1 kg pkg.')

### Task 4
Select all columns from the `order detail` and `order` table, and the product name and quanitity per unit columns from the `product` table

In [18]:
query = '''SELECT o.*, od.*, p.productname, p.quantityperunit
            FROM "order" o INNER JOIN orderdetail od
            on od.orderid = o.id
            INNER JOIN product p
            ON od.productid = p.id;'''
northwind.execute(query)
northwind.fetchone()

(10248,
 'VINET',
 5,
 '2012-07-04',
 '2012-08-01',
 '2012-07-16',
 3,
 32.38,
 'Vins et alcools Chevalier',
 "59 rue de l'Abbaye",
 'Reims',
 'Western Europe',
 '51100',
 'France',
 '10248/11',
 10248,
 11,
 14,
 12,
 0.0,
 'Queso Cabrales',
 '1 kg pkg.')

### Task 5

Select the unique company names and phone number from the `shipper` table for orders with a freight cost that is larger than $100

In [19]:
query = '''SELECT DISTINCT companyname, phone FROM shipper s
            INNER JOIN "order" o
            ON s.id = o.shipvia
            WHERE o.freight > 100
            '''
northwind.execute(query)
northwind.fetchmany(3)

[('Federal Shipping', '(503) 555-9931'),
 ('Speedy Express', '(503) 555-9831'),
 ('United Package', '(503) 555-3199')]

In [27]:
import pandas as p
pd.read_sql('select * from shipper', northwind_connection).columns

NameError: name 'pd' is not defined

## Chinook Practice

### Task 1
Collect all oberservations from the genres table.

In [20]:
query = '''SELECT * FROM genre'''
chinook.execute(query)
chinook.fetchmany(3)

[(1, 'Rock'), (2, 'Jazz'), (3, 'Metal')]

### Task 2
Collect the first name, last name, and email for all customers.

In [21]:
query = '''SELECT firstname, lastname, email FROM customer;'''
chinook.execute(query)
chinook.fetchmany(3)

[('Luís', 'Gonçalves', 'luisg@embraer.com.br'),
 ('Leonie', 'Köhler', 'leonekohler@surfeu.de'),
 ('François', 'Tremblay', 'ftremblay@gmail.com')]

### Task 3
Collect all track names with a blues genre.

In [22]:
query = '''SELECT t.name FROM track t
            INNER JOIN genre g
            ON g.genreid = t.genreid
            WHERE g.Name = "Blues"'''
chinook.execute(query)
chinook.fetchmany(3)

[('First Time I Met The Blues',), ('Let Me Love You Baby',), ('Stone Crazy',)]

### Task 4
Collect the genre names, track names, and album names.

In [23]:
query = '''SELECT g.name, t.name, a.title
            FROM genre g
            INNER JOIN track t
            on g.genreid = t.genreid
            INNER JOIN album a
            on t.albumid = a.albumid;'''
chinook.execute(query)
chinook.fetchmany(3)

[('Rock',
  'For Those About To Rock (We Salute You)',
  'For Those About To Rock We Salute You'),
 ('Rock', 'Balls to the Wall', 'Balls to the Wall'),
 ('Rock', 'Fast As a Shark', 'Restless and Wild')]

### Task 5
Collect the unique first name, last name, and email for all customers who purchase blues music.

In [24]:
query = '''SELECT DISTINCT c.firstname, c.lastname, c.email 
            FROM customer c
            INNER JOIN invoice i
            ON c.customerid = i.customerid
            INNER JOIN invoiceline il
            ON i.invoiceid = il.invoiceid
            INNER JOIN track t
            ON il.trackid = t.trackid
            INNER JOIN genre g
            ON t.genreid = g.genreid
            WHERE g.name = "Blues";'''
chinook.execute(query)
chinook.fetchmany(3)

[('John', 'Gordon', 'johngordon22@yahoo.com'),
 ('Tim', 'Goyer', 'tgoyer@apple.com'),
 ('Hannah', 'Schneider', 'hannah.schneider@yahoo.de')]